<!DOCTYPE html>
<html>
<head>        
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bankloaner</title>
    <base href="/" />
    <!--<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />-->
    <!--VmWare Clarity-->
    <link rel="stylesheet" href="clarity-icons/clarity-icons.min.css">
    <script src="webcomponents/custom-elements/custom-elements.min.js"></script>
    <link rel="stylesheet" href="clarity-ui/clarity-ui.min.css">    
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

    <!--VmWare Clarity-->
    <script src="mutationobserver-shim/dist/mutationobserver.min.js"></script>
    <script async defer src="clarity-icons/clarity-icons.min.js"></script>
</body>
</html>