<section class="register">
<form [formGroup]="regForm">
    <section class="form-block">

        <h2>Registreringsinfo</h2>
        <div class="form-group">
            <label for="name">Navn</label>
            <label for="name" aria-haspopup="true" role="tooltip" [class.invalid]="regForm.controls.name.errors && regForm.controls.name.touched" class="tooltip tooltip-validation">
                <input type="text" id="name" formControlName="name">
                <span *ngIf="!required('name') && regForm.get('name').hasError('pattern')" class="tooltip-content">{{validation.letter}}</span>
                <span *ngIf="!required('name') && regForm.get('name').hasError('minlength')" class="tooltip-content">{{validation.minlength}}</span>
                <span *ngIf="required('name')" class="tooltip-content">{{validation.required}}</span>
            </label>
        </div>

        <div class="form-group">
            <label for="secnumber">Personnummer</label>
            <label for="secnumber" aria-haspopup="true" role="tooltip" [class.invalid]="regForm.controls.secnumber.errors && regForm.controls.secnumber.touched" class="tooltip tooltip-validation">
                <input type="text" id="secnumber" formControlName="secnumber">
                <span *ngIf="!required('secnumber') && regForm.get('secnumber').hasError('pattern')" class="tooltip-content">{{validation.minletter(11)}}</span>
                <span *ngIf="required('secnumber')" class="tooltip-content">{{validation.required}}</span>
            </label>
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <label for="email" aria-haspopup="true" role="tooltip" [class.invalid]="regForm.controls.email.errors && regForm.controls.email.touched" class="tooltip tooltip-validation">
                <input type="email" id="email" formControlName="email">
                <span *ngIf="!required('email') && regForm.get('email').hasError('pattern')" class="tooltip-content">{{validation.email}}</span>
                <span *ngIf="required('email')" class="tooltip-content">{{validation.required}}</span>
            </label>
        </div>

        <div class="form-group">
            <label for="phone">Telefonnummer</label>
            <label for="phone" aria-haspopup="true" role="tooltip" [class.invalid]="regForm.controls.phone.errors && regForm.controls.phone.touched" class="tooltip tooltip-validation">
                <input type="text" id="phone" formControlName="phone">
                <span *ngIf="!required('phone') && regForm.get('phone').hasError('pattern')" class="tooltip-content">{{validation.minletter(8)}}</span>
                <span *ngIf="required('phone')" class="tooltip-content">{{validation.required}}</span>
            </label>
        </div>

        <button (click)="register()" type="submit" class="btn btn-primary" [disabled]="regForm.invalid || http">
            <span *ngIf="http" class="spinner spinner-md spinner-inline">  
            </span>Søk om lån
        </button>
    </section>
</form>

<clr-modal [(clrModalOpen)]="modal.open">
    <h3 class="modal-title">{{modal.title}}</h3>
    <div class="modal-body">
        <p>{{modal.message}}</p>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-outline" (click)="modal.open = false">Cancel</button>-->
        <button type="button" class="btn btn-primary" (click)="modal.open = false">Ok</button>
    </div>
</clr-modal>
</section>