<p>{{err}}</p>
<section *ngIf="err">
    <clr-alert [clrAlertType]="alert-danger">
        <div class="alert-item">
            <span class="alert-text">
                {{err}}
            </span>
        </div>
    </clr-alert>
</section>

<h1>Customer List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Personnummer</th>
            <th>Email</th>
            <th>Telefonnummer</th>
            <th>Lånebeløp</th>
            <th>Tilbakebetalingstid</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customerList">
            <td>{{ customer.name }}</td>
            <td>{{ customer.secNumber }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.loans[0]?.amount }}</td>
            <td>{{ customer.loans[0]?.time }}</td>
        </tr>
    </tbody>
</table>

<section class="spinner-wrap" *ngIf="!customerList && !err">
    <div class="spinner"></div>
    <p>Laster Data...</p>
</section>