<p>{{err}}</p>
<h1>Customer List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>secNumber</th>
            <th>email</th>
            <th>phone</th>
            <th>Loan</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customerList">
            <td>{{ customer.name }}</td>
            <td>{{ customer.secNumber }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td *ngFor="let loan of customer.loans">
                LoanAmount: {{Loan.amount}} Loantime: {{Loan.time}}
            </td>
        </tr>
    </tbody>
</table>

<section class="spinner-wrap" *ngIf="!customerList && !err">
    <div class="spinner"></div>
    <p>Laster Data...</p>
</section>