<header class="header">
    <a href="javascript://" onclick="ClarityWeb.toggleNav('topnav')" class="sliding-nav-toggle"></a>
    <div class="branding">
        <a href="/" class="nav-link title">
            Superbank
        </a>
    </div>

    <div class="divider"></div>
</header>

<nav class="subnav">
    <ul class="nav">
        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/hjem']">Hjem</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/kundeliste']">KundeListe</a>
        </li>
    </ul>
</nav>