<section class="calculator">
<form [formGroup]="calcForm">
    <section class="form-block">

        <h2>Lånekalkulator</h2>

        <div class="form-group">
            <label for="amount">Lånebeløp</label>
            <label for="time" aria-haspopup="true" role="tooltip" [class.invalid]="calcForm.controls.amount.errors && calcForm.controls.amount.touched" class="tooltip tooltip-validation">
                <input type="number" id="amount" formControlName="amount" placeholder="100000">
                <span class="tooltip-content">{{requriredmessage}}</span>
            </label>
        </div>

        <div class="form-group">
            <label for="time">Nedbetalingstid</label>
            <label for="time" aria-haspopup="true" role="tooltip" [class.invalid]="calcForm.controls.time.errors && calcForm.controls.time.touched" class="tooltip tooltip-validation">
                <input type="text" id="time" formControlName="time">
                <span class="tooltip-content">{{requriredmessage}}</span>
            </label>
            
            <div class="select">
                <select>
                    <option value="12">År</option>
                    <option value="1">Måneder</option>
                </select>
            </div>
        </div>

        <p>{{data}}</p>
        <button *ngIf="!showRegisterForm" type="submit" class="btn btn-primary" [disabled]="calcForm.invalid">Gå videre</button>
        <registrer-comp *ngIf="showRegisterForm"></registrer-comp>
    </section>

    <clr-alert [clrAlertType]="'alert-danger'" *ngIf="errorMessage">
        <span class="alert-item">
        <span class="alert-text">
            {{errorMessage}}
        </span>
        </span>
    </clr-alert>

</form>
</section>